<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <title>去野 · 城市户外</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/element.css">

  <link href="./css/shop-detail.css" rel="stylesheet">
  <link href="./css/main.css" rel="stylesheet">

  <style type="text/css">

  </style>
</head>
<body>
<div id="app">
  <div class="header">
    <div class="header-back-btn" @click="goBack"><i class="el-icon-arrow-left"></i></div>
    <div class="header-title"></div>
    <div class="header-share">...</div>
  </div>
  <div class="top-bar"></div>
  <div class="shop-info-box">
    <div class="shop-title">{{shop.name}}</div>
    <div class="shop-rate">
      <el-rate
          disabled v-model="shop.score/10"
          text-color="#2e7d6f"
          show-score
      ></el-rate>
      <span>{{shop.comments}}条</span>
    </div>
    <div class="shop-rate-info"> 风景:4.9  设施:4.8  教练:4.7 </div>
    <div class="shop-rank">
      <span class="rank-badge">去野榜单</span>
      <span>杭州周边营地好评榜第3名</span>
      <div><i class="el-icon-arrow-right"></i></div>
    </div>
    <div class="shop-images">
      <div v-for="(s,i) in shop.images" :key="i">
        <img :src="s" alt="">
      </div>
    </div>
    <div class="shop-address">
      <div><i class="el-icon-map-location"></i></div>
      <span>{{shop.address}}</span>
      <div style="width: 10px; flex-grow: 2; text-align: center; color: #e1e2e3">|</div>
      <div style="margin: 0 5px"><i class="el-icon-circle-check" style="color:#2e7d6f"></i></div>
      <div><i class="el-icon-medal" style="color:#e6a23c"></i></div>
    </div>
  </div>
  <div class="shop-divider"></div>
  <div class="shop-open-time">
    <span><i class="el-icon-watch"></i></span>
    <div>营业时间</div>
    <div>{{shop.openHours}}</div>
    <span class="line-right">查看详情 <i class="el-icon-arrow-right"></i></span>
  </div>
  <div class="shop-divider"></div>
  <div class="shop-voucher">
    <div>
      <span class="voucher-icon">名</span>
      <span style="font-weight: bold;">活动名额</span>
    </div>
    <div class="voucher-box" v-for="v in vouchers" :key="v.id" v-if="!isEnd(v)">
      <div class="voucher-circle">
        <div class="voucher-b"></div>
        <div class="voucher-b"></div>
        <div class="voucher-b"></div>
      </div>
      <div class="voucher-left">
        <div class="voucher-title">{{v.title}}</div>
        <div class="voucher-subtitle">{{v.subTitle}}</div>
        <div class="voucher-price"><div>￥ {{util.formatPrice(v.payValue)}}</div>  <span>{{((v.payValue*10)/v.actualValue).toFixed(1)}}折</span></div>
      </div>
      <div class="voucher-right">
        <div v-if="v.type" class="seckill-box">
          <div class="voucher-btn" :class="{'disable-btn': isNotBegin(v) || v.stock < 1}" @click="seckill(v)">限时报名</div>
          <div class="seckill-stock">剩余 <span>{{v.stock}}</span> 个</div>
          <div class="seckill-time">{{formatTime(v)}}</div>
        </div>
        <div class="voucher-btn" v-else>立即报名</div>
      </div>
    </div>
  </div>
  <div class="shop-divider"></div>
  <div class="shop-comments">
    <div class="comments-head">
      <div>野友评价 <span>（119）</span></div>
      <div><i class="el-icon-arrow-right"></i></div>
    </div>
    <div class="comment-tags">
      <div class="tag">风景赞(19)</div>
      <div class="tag">营地赞(16)</div>
      <div class="tag">装备齐全(11)</div>
      <div class="tag">回头客(4)</div>
      <div class="tag">交通方便(4)</div>
      <div class="tag">停车方便(3)</div>
      <div class="tag">教练专业(3)</div>
      <div class="tag">星空绝美(3)</div>
      <div class="tag">搭子友好(6)</div>
    </div>
    <div class="comment-list">
      <div class="comment-box" v-for="i in 3" :key="i">
        <div class="comment-icon">
            <img :src="'/imgs/avatars/' + ['u1','u2','u3'][i-1] + '.png'" alt="">
          </div>
        <div class="comment-info">
          <div class="comment-user">{{ ['山风野客','阿飞不卷','周末去野'][i-1] }} <span>Lv{{ [5,4,6][i-1] }}</span></div>
          <div style="display: flex;">
            打分
            <el-rate disabled v-model="4.5" ></el-rate>
          </div>
          <div style="padding: 5px 0; font-size: 14px">
              {{ ['营地打理得很干净，教练帮我们搭好帐篷，晚上抬头全是星星，装备也能租到，新手完全不用担心。','第一次玩飞盘，教练从握盘到跑位讲得很细，氛围特别好，已经约了下一场。','骑行路线风景绝佳，沿途有补给点，20km 对新人也很友好，周末约上搭子一起冲。'][i-1] }}
            </div>
          <div class="comment-images">
              <img :src="'/imgs/photos/' + ['camp-night','camp-fire','frisbee-dog'][i-1] + '.jpg'" alt="">
              <img :src="'/imgs/photos/' + ['forest','bike-ebike','skate-1'][i-1] + '.jpg'" alt="">
              <img :src="'/imgs/photos/' + ['paddle-lake','climb','badminton'][i-1] + '.jpg'" alt="">
            </div>
          <div>
            浏览641 &nbsp;&nbsp;&nbsp;&nbsp;评论5
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between;padding: 15px 0; border-top: 1px solid #f1f1f1; margin-top: 10px;">
        <div>查看全部119条野友评价</div>
        <div><i class="el-icon-arrow-right"></i></div>
      </div>
    </div>
  </div>
  <div class="shop-divider"></div>
  <div class="copyright">
    © 2026 去野 QuYe · 城市户外与运动搭子平台
  </div>
</div>
<script src="./js/vue.js"></script>
<script src="./js/axios.min.js"></script>
<!-- 引入组件库 -->
<script src="./js/element.js"></script>
<script src="./js/common.js"></script>
<script>

  const app = new Vue({
    el: "#app",
    data: {
      util,
      shop: {},
      vouchers: []
    },
    created() {
      // 获取参数
      let shopId = util.getUrlParam("id");
      // 查询酒店信息
      this.queryShopById(shopId);
      // 查询活动名额信息
      this.queryVoucher(shopId);
    },
    methods: {
      goBack() {
        history.back();
      },
      queryShopById(shopId) {
        axios.get("/shop/" + shopId)
        .then(({data}) => {
          data.images = data.images.split(",")
          this.shop = data
        })
        .catch(this.$message.error)
      },
      queryVoucher(shopId) {
        axios.get("/voucher/list/" + shopId)
        .then(({data}) => {
          this.vouchers = data;
        })
        .catch(this.$message.error)
      },
      formatTime(v){
        let b = new Date(v.beginTime);
        let e = new Date(v.endTime);
        return b.getMonth() + 1 + "月" + b.getDate() + "日 "
          +  b.getHours() + ":" + this.formatMinutes(b.getMinutes())
          + " ~ "/*  + e.getMonth() + 1 + "月" + e.getDate() + "日 " */
          +  e.getHours() + ":" + this.formatMinutes(e.getMinutes());
      },
      formatMinutes(m){
        if(m < 10) m = "0" + m
        return m;
      },
      isNotBegin(v){
        return new Date(v.beginTime).getTime() > new Date().getTime();
      },
      isEnd(v){
        return new Date(v.endTime).getTime() < new Date().getTime();
      },
      seckill(v){
        if(!token){
          this.$message.error("请先登录")
          // 未登录，跳转
          setTimeout(() => {
            location.href = "/login.html"
          }, 200);
          return;
        }
        if(this.isNotBegin(v)){
          this.$message.error("活动报名尚未开始！")
          return;
        }
        if(this.isEnd(v)){
          this.$message.error("活动报名已经结束！")
          return;
        }
        if(v.stock < 1){
          this.$message.error("库存不足，请刷新再试试！")
          return;
        }
        let id = v.id;
        // 秒杀报名
        axios.post("/voucher-order/seckill/" + id)
        .then(({data}) => {
          // 报名成功，这里输出报名单id，支付功能TODO
          this.$message.success("报名成功，报名单id：" + data)
        })
        .catch(this.$message.error)
      }
    }
  })
</script>
</body>
</html>